#Ignore directories that visual stuido builds for projects
PartumArtificium/bin/
PartumArtificium.BridgeController/bin/
PartumArtificium.Client/bin/
PartumArtificium.Controller/bin/
PartumArtificium.Framework/bin/
PartumArtificium.Model/bin/
PartumArtificium.Network/bin/
PartumArtificium.Presenter/bin/
PartumArtificium.View/bin/
PartumArtificium/obj/
PartumArtificium.BridgeController/obj/
PartumArtificium.Client/obj/
PartumArtificium.Controller/obj/
PartumArtificium.Framework/obj/
PartumArtificium.Model/obj/
PartumArtificium.Network/obj/
PartumArtificium.Presenter/obj/
PartumArtificium.View/obj/